body {
	font-family: Georgia, Arial, sans-serif;
	font-size: 1em;
	color: black;
	width: 50%;
	margin: 10px auto;
}

#header {
	border-bottom: solid black 5px;
	text-align: center;
	font-size: 1.2em;
}

h2 {
	color: #800000;
}
